<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1><%= name %></h1>
  <h2><%= description %></h2>
  <%= 1+2 %>
  <ul>
    <% for(var i=0;i<list.length;i++){ %>
    <li>用户名：<%= list[i].username %> 密码：<%= list[i].pass %></li>
    <% } %>
  </ul>
</body>
</html>
